1] What are data structures, and why are they important
- Data structures are ways to store and organize data. They're important because they make data access, processing, and storage efficient.

2] Explain the difference between mutable and immutable data types with examples
- Mutable data types can be changed after creation.
      a = [1, 2, 3]
      a[0]= 10      # Works
Immutable data types cannot be changed once created.
      b = (1, 2, 3)
      b[0] = 10  # Error

3] What are the main differences between lists and tuples in Python
- List are Mutable, It Uses square brackets [ ]. The execution is slower than tuples, Its Best used for dynamic data.
- Tuple are Immutable, It Uses round brackets ( ).It is faster than lists,It is Best for fixed data.

4] Describe how dictionaries store data.
- Dictionaries in Python store data as key-value pairs inside { }.
Each key maps to a value, allowing fast data lookup.

5] Why might you use a set instead of a list in Python
- We use a set instead of a list when we want only unique items (no duplicates).we  need fast membership checks (e.g., x in set is faster than x in list).

6] What is a string in Python, and how is it different from a list
- A string is a sequence of characters (text), enclosed in quotes (" " or ' ').
String are immutable, holds only characters whereas List are mutable, holds any data types (numbers, strings, etc.)

7] How do tuples ensure data integrity in Python
- Tuples ensure data integrity in Python by being immutable, meaning once created, their elements cannot be changed, added, or removed.
This protects the data from accidental modification, making tuples ideal for fixed collections like coordinates, dates, or configuration settings.

8] What is a hash table, and how does it relate to dictionaries in Python
- A hash table is a data structure that stores key-value pairs using a hash function to compute an index into an array, from which the desired value can be found. In Python, a dictionary is an implementation of a hash table. It uses keys' hash values to quickly look up, insert, or delete data in constant time on average.

9]  Can lists contain different data types in Python
- Yes, lists in Python can contain different data types (e.g., integers, strings, other lists, etc.) because Python is dynamically typed.

10] Explain why strings are immutable in Python
- Strings are immutable in Python to ensure:

    Data integrity - prevents accidental changes.

    Hashability - allows strings to be used as dictionary keys.

    Performance - enables internal optimizations like interning

11] What advantages do dictionaries offer over lists for certain tasks
-  Dictionaries offer faster lookups, key based access, they offer better mapping techniques.

12] Describe a scenario where using a tuple would be preferable over a list
- Use a tuple when your data should not change.
Example: Storing days of the week — ("Monday", "Tuesday", ...).
Tuples are faster, immutable, and often used as dictionary keys.

13] How do sets handle duplicate values in Python
- Sets automatically remove duplicates.
      s = {1, 2, 2, 3}
      print(s)  # Output: {1, 2, 3}

14] How does the “in” keyword work differently for lists and dictionaries
- For lists, in checks if a value exists.
      2 in [1, 2, 3]  # True

  For dictionaries, in checks if a key exists (not value).
      'a' in {'a': 1, 'b': 2}  # True

15] Can you modify the elements of a tuple? Explain why or why not
- No, you cannot modify tuple elements because tuples are immutable.
Once created, their contents cannot be changed, added, or removed, ensuring data integrity.

16] What is a nested dictionary, and give an example of its use case
- A nested dictionary is a dictionary inside another dictionary.
It's used to represent structured data like records or hierarchies.
   ex-maintaing students record
      students = {"101": {"name": "Alice", "marks": 85},"102": {"name": "Bob", "marks": 90}}

17]  Describe the time complexity of accessing elements in a dictionary
- With the Hashing concept, accessing elements in a dictionary has average-case time complexity of O(1) (constant time)
Worst case is O(n) (rare chance)

18]  In what situations are lists preferred over dictionaries
- Use lists when:

    -Order of items matters

    -You access elements by position (index)

    -You have a collection of values, not key-value pairs

    -Simpler, sequential data is involved (e.g., names, numbers)

19] Why are dictionaries considered unordered, and how does that affect data retrieval
- Dictionaries are considered unordered because they use hashing, not position, to store and retrieve keys. That means:

    -Data retrieval by key is fast and unaffected.

    -Iteration order is not guaranteed in older Python versions.

20] Explain the difference between a list and a dictionary in terms of data retrieval.
-  Lists are accessed by index (position-based). Here order matters — elements are stored in a specific sequence. Lists are ideal when data is sequential and accessed by position.
- Dictionaries are accessed by key (name-based). No fixed order before Python 3.7. Ideal when data is labeled and accessed by identifiers.

In [ ]:
# PRACTICAL QUESTIONS
# 1]Write a code to create a string with your name and print it
name=("abhishek")
print(name)

abhishek

In [ ]:
# 2]Write a code to find the length of the string "Hello World"
message=("Hello World")
print(len(message))

11

In [ ]:
# 3] Write a code to slice the first 3 characters from the string "Python Programming"
message=("Python Programming")
print(message[0:3])

Pyt

In [ ]:
# 4] Write a code to convert the string "hello" to uppercaseP
message=("hello")
b=message.upper()
print(b)

HELLO

In [ ]:
# 5] Write a code to replace the word "apple" with "orange" in the string "I like apple
message=("I like apple")
b=message.replace("apple","orange")
print(b)

I like orange

In [ ]:
# 6] Write a code to create a list with numbers 1 to 5 and print it
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7] Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8] Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9]  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
list[1]

'b'

In [ ]:
# 10] Write a code to reverse the list [10, 20, 30, 40, 50].
list1=[10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
# 11]  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12] Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red','green','blue','yellow')
tuple[2]

'blue'

In [ ]:
# 13]  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
min(tuple)

5

In [ ]:
# 14] Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

In [ ]:
# 15]  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1=("apple", "kiwi", "orange")
if "kiwi" in tuple1:
  print("yes, present")
else:
  print("not present")

yes, present

In [2]:
# 16] Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
print(set1)

{'a', 'c', 'b'}

In [4]:
# 17] Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [5]:
# 18] Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [6]:
# 19] Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [8]:
# 20] Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
set3=set1 & set2
print(set3)

{2, 3}

In [9]:
# 21] Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person={
    "name":"yashaswi",
    "age":24,
    "city":"mysore"
}
print(person)

{'name': 'yashaswi', 'age': 24, 'city': 'mysore'}

In [10]:
# 22] Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person={'name': 'John', 'age': 25}
person["country"]="USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [11]:
 # 23] Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
 person={'name': 'Alice', 'age': 30}
 person["name"]

'Alice'

In [12]:
# 24] Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person={'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [13]:
# 25]  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person={'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("present")
else:
  print("not present")

present

In [15]:
# 26]  Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[25,True,"nigru",598.24]
tuple1=("Mango",898,252.32)
dict1={"name":"Zayn","age":32,"city":"paris"}
print(list1)
print(tuple1)
print(dict1)

[25, True, 'nigru', 598.24]
('Mango', 898, 252.32)
{'name': 'Zayn', 'age': 32, 'city': 'paris'}

In [17]:
# 27]  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1=[25,898,6987,452,3]
list1.sort()
print(list1)

[3, 25, 452, 898, 6987]

In [20]:
# 28]  Write a code to create a list with strings and print the element at the third index
list1=[41,"abish",True,598.32,"manish"]
print(list1[3])

598.32

In [21]:
# 29]  Write a code to combine two dictionaries into one and print the result.
dict1={"name":"arun","age":23}
dict2={"city":"mysore","country":"india"}
dict3={**dict1,**dict2}
print(dict3)

{'name': 'arun', 'age': 23, 'city': 'mysore', 'country': 'india'}

In [23]:
# 30]  Write a code to convert a list of strings into a set.
list1=[1,2,3,4,5]
set1= set(list1)
print(set1)

{1, 2, 3, 4, 5}